body {
    background-color: #e7e7e7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container1 {
    display: flex; /* Используем flexbox для горизонтального расположения блоков */
    flex-direction: column; /* Устанавливаем направление по вертикали */
    justify-content: center;
    padding: 50px; /* Отступы вокруг контейнера */
    background-image: url('images/fontImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.titleBlock{
    text-align: center;
    height: 350px;
}

header {
    font-family: 'PT Sans', sans-serif;
    height: 100px; /* Установите высоту вашего элемента */
    display: flex; /* Используем flexbox для выравнивания элементов */
             /* Выравнивание по вертикали */
            justify-content: space-between; /* Выравнивание по горизонтали к началу */
            padding: 10px; /* Отступы вокруг содержимого */
            }

.logo {
    align-items: center;
    display: block; /* Делаем изображение блочным элементом */
    width: auto; /* Устанавливаем ширину логотипа (по желанию) */
    height: 50px; /* Автоматическая высота для сохранения пропорций */
    margin-right: 20px;
}

.title {
    position: absolute;
    bottom: 120px; /* Отступ от нижнего края */
    left: 0; /* Можно настроить по горизонтали */
    right: 0;
    color: white; /* Цвет текста заголовка */
            font-size: 34px; /* Размер шрифта заголовка */
            text-align: center; /* Центрируем текст */
            flex-grow: 1; 
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 200px; /* Отступ снизу */
}

section {
    margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            padding: 20px;
            background-color: #e7e7e7;
            background-image: url('images/черточки.png');
}

h2 {
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    margin-left: 75px;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
}

.nav-links {
    display: flex; /* Используем flexbox для навигационных ссылок */
    gap: 25px; /* Промежуток между ссылками */
}

.nav-link {
    color: white; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

.nav-link:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

sectionForm{
    background-color: #1C1C1C;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}
.form-label {
    text-align: center;
    font-size: 22px
}

.big-blue-text {
    font-size: 48px; /* Размер шрифта */
    color: rgb(92, 110, 192);     /* Цвет текста */
}

.big-grey-text {
    font-size: 35px; /* Размер шрифта */
    color: rgb(82, 164, 175);     /* Цвет текста */
}

.container02 {
    display: flex; /* Используем flexbox для горизонтального расположения блоков */
    flex-direction: column; /* Выравнивание по вертикали */
    height: 40vh; /* Высота контейнера*/
}

.blockSecond{
    width: 800px; /* Занимает равное пространство */
            margin: 0 70px; /* Отступ между блоками */
            padding: 20px;
            background-color: #ffffff; /* Цвет фона блоков */
            border-radius: 25px; /* Закругленные углы */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для блоков */
}

.litle-text{
    font-size: 13px;
}

.block {
     /* Занимает равное пространство */
     width: 400px;       
     margin: 0 70px; /* Отступ между блоками */
            padding: 20px;
            background-color: #ffffff; /* Цвет фона блоков */
            border-radius: 25px; /* Закругленные углы */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для блоков */
}

.block-image {
    max-width: 25%; /* Максимальная ширина изображения - 100% от родителя */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 10px; /* Закругление углов изображений */
}

.form-container {
    background-color: #1C1C1C;
    border: 2px solid lightblue; /* Голубая обводка */
    padding: 20px;
    padding-left: 20px;
    padding-right: 40px;
    border-radius: 10px;
    width: 300px; /* Ширина формы */
}


label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid lightblue; /* Голубая обводка для полей */
    border-radius: 5px;
    background-color: transparent; /* Прозрачный фон */
    color: white; /* Цвет текста */
}

input::placeholder {
    color: lightgray; /* Цвет плейсхолдера */
}

button {
    width: 105%;
    padding: 10px;
    background-color: gray; /* Серый цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkgray; /* Темнее при наведении */
}
